In [1]:
import selenium
import pandas as pd
from selenium import webdriver #very important line
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException #Can ignore this line
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r'C:\Users\RIYAZ\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
driver.get('https://www.flipkart.com/')

close_p=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
close_p.click()

In [4]:
sneakers_=driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
sneakers_.send_keys('sneakers')

In [5]:
submit=driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
submit.click()

In [6]:
Brand=[]
ProductDescription=[]
Price=[]

In [7]:
def fun1():
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        Brand.append(i.text)

    productdescription=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in productdescription:
        ProductDescription.append(i.text)

    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        Price.append(i.text)

In [8]:
nextb=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
nextb.click()
time.sleep(5)
fun1()

In [9]:
nextb=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
nextb.click()
time.sleep(5)
fun1()

In [10]:
nextb=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[3]')
nextb.click()
time.sleep(5)
fun1()

In [11]:
df=pd.DataFrame({'Brand':Brand[0:100],'ProductDescription':ProductDescription[0:100],'Price':Price[0:100]})

In [12]:
df

          Brand                                 ProductDescription Price
0            TR                                   Sneakers For Men  ₹699
1        BRUTON  Pink Color Woman Shoe for sports, Running, Wal...  ₹499
2           SFR              Canvas shoes for Men Sneakers For Men  ₹249
3         BIRDE                                   Sneakers For Men  ₹298
4         Sparx                                 Sneakers For Women  ₹199
..          ...                                                ...   ...
95        BIRDE                                   Sneakers For Men  ₹399
96        BIRDE  Future-04 casual shoes for men | Latest Stylis...  ₹299
97  bacca bucci                    ADVANTAGE BASE Sneakers For Men  ₹399
98        asian  Trendy Casual Shoe For Men Pack Of 2 Sneakers ...  ₹499
99     Skechers                                   Sneakers For Men  ₹419

[100 rows x 3 columns]