Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\riyaz\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\riyaz\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\riyaz\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\riyaz\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\riyaz\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: attrs>=19.2.0 in c:\users\riyaz\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\riyaz\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\riyaz\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\riyaz\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\riyaz\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\riyaz\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\riyaz\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\riyaz\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\riyaz\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\riyaz\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\riyaz\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\riyaz\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver #very important line
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException #Can ignore this line
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r'C:\Users\RIYAZ\Downloads\chromedriver_win32\chromedriver.exe')

In [5]:
driver.get("https://www.naukri.com/")

In [6]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [8]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [9]:
jobTitle=[]
jobLocation=[]
company_Name=[]
Expreine_Required=[]

In [10]:
#scrapping Job Title from given path
tital_tag=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in tital_tag[0:10]:
    title=i.text
    jobTitle.append(title)

In [11]:
jobTitle

['Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst',
 'Data Analyst- Yulu Energy',
 'Data Analyst',
 'Urgently required Data analyst - Microsoft Azure',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst Databricks']

In [12]:
# job-location, company_name, experience_required.

In [13]:
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location=i.text
    jobLocation.append(location)

In [14]:
jobLocation

['Hybrid - Bangalore/Bengaluru',
 'Permanent Remote',
 'Hybrid - Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Hyderabad/Secunderabad, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [15]:
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_Name.append(company)

In [16]:
company_Name

['Spire Technology',
 'Novitas Infotech',
 'Absolutdata',
 'Yulu Bikes',
 'Entrupy',
 'Golden Future Technologies',
 'Quotient Four Technologies',
 'Spire Technology',
 'Adecco Group',
 'Optum']

In [17]:
exp_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tag[0:10]:
    exp=i.text
    Expreine_Required.append(exp)

In [18]:
Expreine_Required

['0-0 Yrs',
 '3-8 Yrs',
 '4-6 Yrs',
 '0-1 Yrs',
 '1-3 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '4-6 Yrs']

In [19]:
print(len(jobTitle),len(jobLocation),len(company_Name),len(Expreine_Required))

10 10 10 10

In [20]:
df=pd.DataFrame({'Job Title':jobTitle,'Job Location':jobLocation,'Company Name':company_Name,'Exprience Required':Expreine_Required})

In [21]:
df

,Job Title,Job Location,Company Name,Exprience Required
0,Data Analyst,Hybrid - Bangalore/Bengaluru,Spire Technology,0-0 Yrs
1,Data Analyst,Permanent Remote,Novitas Infotech,3-8 Yrs
2,Hiring For Data Analyst,Hybrid - Bangalore/Bengaluru,Absolutdata,4-6 Yrs
3,Data Analyst- Yulu Energy,Bangalore/Bengaluru,Yulu Bikes,0-1 Yrs
4,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
5,Urgently required Data analyst - Microsoft Azure,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Golden Future Technologies,5-10 Yrs
6,Data Analyst,Bangalore/Bengaluru,Quotient Four Technologies,3-6 Yrs
7,Data Analyst,Hybrid - Bangalore/Bengaluru,Spire Technology,2-5 Yrs
8,Data Analyst,Bangalore/Bengaluru,Adecco Group,5-10 Yrs
9,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
degination_=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input')
degination_.send_keys('Data Scientist')

In [ ]:
location_=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location_.send_keys('Bangalore')

In [ ]:
search_=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search_.click()

In [ ]:
Title=[]
Company_Name=[]
Location=[]
Exp_Req=[]
Job_Desc=[]

In [ ]:
title_tag=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag[0:10]:
    Title.append(i.text)

company_name_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_name_tag[0:10]:
    Company_Name.append(i.text)

location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    Location.append(i.text)

exp_rec_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_rec_tag[0:10]:
    Exp_Req.append(i.text)

job_des_tag=driver.find_elements(By.XPATH,'//div[@class="ellipsis job-description"]')
for i in job_des_tag[0:10]:
    Job_Desc.append(i.text)

In [ ]:
print(len(Title),len(Company_Name),len(Location),len(Exp_Req),len(Job_Desc))

In [ ]:
df_=pd.DataFrame({'Title':Title,'Company':Company_Name,'Location':Location,'Exp':Exp_Req,'Job Description':Job_Desc})

In [ ]:
df_